RewriteEngine on
Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.html index.php

# Redirigir de www a no-www
RewriteCond %{HTTP_HOST} ^www\.beatness\.com\.mx [NC]
RewriteRule ^(.*)$ https://beatness.com.mx/$1 [L,R=301]

# Redirigir a HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Regla para manejar URLs amigables para CodeIgniter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

RewriteCond $1 !^(index\.php|images|robots\.txt)
