/* ================================================== */
/* body */
/* ================================================== */


@font-face {
    font-family: 'Block Marys';
    src: url('../fonts/blockmarys.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: var(--bg-dark-1);
}

body {
    padding: 0;
    line-height: 1.8em;
    word-spacing: 0px;
}


body.boxed {
    margin: 30px;
    overflow: hidden;
    border: solid 1px #eee;
}

body .owl-stage .owl-item {
    margin-bottom: 15px;

}

#wrapper {
    position: relative;
    overflow: hidden;
}

.de-navbar-left #wrapper {
    overflow: visible;
}

a,
a:hover {
    text-decoration: none;
}

a.a-underline {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

a.a-underline span {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    border-bottom: solid 1px #333;
    width: 0;
}

a.a-underline:hover span {
    width: 100%;
}

/* ================================================== */
/* preloader */
/* ================================================== */

#de-loader {
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--primary-color);
    margin: -2px 0 0 -2px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ================================================== */
/* estilos */
/* ================================================== */

.mt-20 {
    margin-top: 23%;
}

.mt-11 {
    margin-top: 7em;
}

.mt-12 {
    margin-top: 10em;
}

.mb-12 {
    margin-bottom: 10em;
}

.navbar-brand .img-movil {
    height: 50px;
}

.social-icons {
    background-color: #ff867c;
    padding: 5px 15px;
    border-radius: 20px;
}

.social-icons-movil {
    font-size: small;
    background-color: #ff867c;
    padding: 5px 10px;
    border-radius: 15px;
    width: 30%;
}

.social-icons-movil2 {
    font-size: small;
    background-color: #ff867c;
    padding: 2px 10px;
    border-radius: 15px;
}

.social-icons a {
    color: white;
    margin-left: 10px;
}

.navbar-nav {
    margin-left: auto;
}

.btn-explora {
    background-color: #26BDBD;
    color: #FFFFFF;
    border-radius: 15px;
}

.btn-llegar {
    background-color: #D9D0C7;
    color: #FFFFFF;
    border-radius: 15px;
}

.btn-llegar2 {
    background-color: #26BDBD;
    color: #FFFFFF;
    border-radius: 15px;
}

.btn-locales {
    background-color: #D9D0C7;
    color: #FFFFFF;
    border-radius: 15px;
}

.btn-explora:hover {
    background-color: #26BDBD;
    color: #967FA7;
    border-radius: 15px;
}

.btn-llegar:hover {
    background-color: #D9D0C7;
    color: #967FA7;
    border-radius: 15px;
}

.btn-llegar2:hover {
    background-color: #26BDBD;
    color: #967FA7;
    border-radius: 15px;
}

.btn-locales:hover {
    background-color: #D9D0C7;
    color: #967FA7;
    border-radius: 10px;
    border-radius: 15px;
}

.btn-explora-movil {
    background-color: #26BDBD;
    color: #FFFFFF;
    border-radius: 15px;
}

.btn-llegar-movil {
    background-color: #D9D0C7;
    color: #FFFFFF;
    border-radius: 15px;
}

.btn-explora-movil:hover {
    background-color: #26BDBD;
    color: #967FA7;
    border-radius: 15px;
}

.btn-llegar-movil:hover {
    background-color: #D9D0C7;
    color: #FF9687;
    border-radius: 15px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.btn-explora,
.btn-llegar {
    position: absolute;
    bottom: 120px;
    left: 10%;
    transform: translateX(-50%);
}

.btn-llegar {
    bottom: 120px;
    left: 26%;
}

/* Aqui cambio el ícono de hamburguesa */
.custom-toggler .navbar-toggler-icon {
    background-image: url('../images/recursos/menu.png');
    background-position: center !important;
    height: 50px;
}

/* ESTILOS DE SECCION EXPLORA */
.explora {
    background-image: url('../images/recursos/beige.jpg');
}

.mt-negativo {
    margin-top: -5%;
}

.mt-negativopet {
    margin-top: -10%;
}

.mt-neg {
    margin-top: -40%;
}

.marys {
    font-family: 'Block Marys', sans-serif;
}

.restaurante {
    color: #F1EFE3;
    background-color: #FF9687;
    border-radius: 20px;
    padding: 15px;
    height: 20%;
    width: 47%;
}

.diversion {
    color: #F1EFE3;
    background-color: #967FA7;
    border-radius: 20px;
    padding: 15px;
    height: 20%;
    width: 47%;
}

.wellness {
    color: #F1EFE3;
    background-color: #91AFDC;
    border-radius: 20px;
    padding: 15px;
    height: 20%;
    width: 47%;
}

.accesorios {
    color: #F1EFE3;
    background-color: #69A399;
    border-radius: 20px;
    padding: 15px;
    height: 20%;
    width: 47%;
}

.servicios {
    color: #F1EFE3;
    background-color: #A6D7DE;
    border-radius: 20px;
    padding: 15px;
    height: 20%;
    width: 47%;
}

.shopping {
    color: #F1EFE3;
    background-color: #EDD98B;
    border-radius: 20px;
    padding: 15px;
    height: 20%;
    width: 47%;
}

.hogar {
    color: #F1EFE3;
    background-color: #FF9687;
    border-radius: 20px;
    padding: 15px;
    height: 20%;
    width: 47%;
}

.btn-locales2 {
    background-color: #505050;
    color: #FFFFFF;
    border-radius: 15px;
}

/* ESTILOS DE SECCION EXPLORA END */

.bg-ubicacion {
    background-image: url('../images/recursos/ubicacion.png');
}

.lugar {
    background-image: url('../images/recursos/bg-lugar.png');
}

.footer {
    background-image: url('../images/recursos/bg-footer.jpg');
}

.btn-localesdisponibles {
    background-color: #90C14E;
    color: #FFFFFF;
    border-radius: 15px;
    font-size: small;
}

.btn-localesdisponibles:hover {
    background-color: #90C14E;
    color: #967FA7;
    border-radius: 15px;
}